html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
}

h1 {
	font-family: Times 'Times New Roman', Times, serif;
	text-align: center;
}


#item1 {grid-area: menu;}
#item2 {
	grid-area: main;
	padding: 8px
}
#item3 {grid-area: right;}

#main_title {
	color: Black;
}

#title1 {
	background-color: white;
	padding-top: 2pt;
	padding-bottom: 3pt;
	text-align="center";
}

img {
	padding-top: 13pt;
	padding-right: 20pt;
}

p {
	font-family: 'Times New Roman', Times, serif;
}
.grid {
	display: grid;
	grid-template-areas:
		'menu main main main main main right'
		'menu main main main main main right';
	padding-left: 125px;
	padding-right: 125px;
	grid-gap: 8px;
	padding: 8px;
	
}
.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-decoration: bold;
}

.afterTitle {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: Black;
}


.mainScroll {
	overflow-y: scroll;
	height: 400px;
}





